body {
    background-color: #EFC397;
    padding: 30px 70px 30px 70px;
    color: #1F1A10;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
h1, h3 {background-color:#614C2F; text-align: center;}
a {color: #1F1A10;}
#intro {
    color:#404F21; text-align: center; font-size: larger;
}
.info-container {
    background-color: #404F21;
    display: inline-block;
    max-width: 200px;
    max-height: 298px;
    padding: 5px;
    margin: 5px;
    border: 10px double #6F8878;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: auto;
    }
.door, .horse, .crocodile {
    display: inline-block;
    max-width: 200px;
    padding: 5px;
    margin: 5px;
    border: 10px double #6F8878;
    border-radius: 5px;
    }

.info-content {
    width: 60%;
    height: 100%;
    margin-top: 20px;
}

#nota-bene {
    font-style: italic; font-size:smaller;
}

