.logo {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 160%;
letter-spacing: -2%;
color: #0A1B32;
margin-left: 80px;
margin-top: 37px;
}
.logo-dot {
    color: #33A2E0;
}
.main-title {
    max-width: 495px;
    width: 100%;
    margin-left: 200px;
    margin-top: 202px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 106%;
    letter-spacing: 0.02em;
    color: #1B0A42;
    }
.main-info {
    max-width: 583px;
    width:100%;
    margin-left: 200px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #9A9A9A;

}